html{
  scroll-behavior: smooth;
}
body {
  background-image: url("img/fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  margin: 0;
  font-family: "Inconsolata", monospace;
  background-color: black;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
}

header > .nav-header > a {
  padding: 15px;
  text-decoration: none;
  font-size: 35px;
  align-items: center;
  color: white;
}

.img-contac {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-left: 150px;
}

header > .img-contac > a > img {
  height: 60px;
  background-color: rgba(42, 134, 170, 0.308);
  border-radius: 10px;
  align-items: center;
}

header > .img-contac > a {
  text-decoration: none;
  color: white;
}

header > .img-contac > a > h1 {
  border: solid 1px rgb(230, 230, 230);
  padding: 30px;
  align-items: center;
  margin-left: 30px;
}

.logo {
  text-decoration: none;
  color: white;
}

.logo > h2 {
  font-size: 70px;
  margin-right: 150px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 145px;
  margin-left: 90px;
  align-items: start;
}

.info > h2,
h1,
p,
a {
  text-decoration: none;
  color: white;
}

.info > .more-me > a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  font-family: "Rubik", sans-serif;
  height: 40px;
}

.info > h2 {
  border: white 1px solid;
  padding: 15px 8px;
  font-family: sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 0.3393732492997199) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.info > h1 {
  font-size: 50px;
  font-family: sans-serif;
  margin: 0px;
}

.info > p {
  font-size: 25px;
  width: 600px;
  text-align: justify;
}

.logo-2d {
  display: flex;
  position: absolute;
  top: 30%;
  left: 60%;
  height: 500px;
  width: 500px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}
#habilidades{
  height: 100vh;
}
.wrap {
  width: 1200px;
  max-width: 90%;
  margin: 30px auto;
  background-color: #363636;
  margin-top: 5%;
  border-radius: 30px;
  padding: 10px;
}

ul.tabs {
  width: 80%;
  background: none;
  list-style: none;
  display: flex;
  padding: 0;
  margin-left: 323px;
}

ul.tabs li {
  width: 18%;
}

ul.tabs li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-align: center;

  display: block;
  padding: 20px 0px;
}

.active {
  background: #0984cc;
}

ul.tabs li a .tab-text {
  margin-left: 8px;
}

.secciones {
  width: 100%;
  background: #363636;
}

.secciones article {
  padding: 30px;
}

.secciones article p {
  text-align: justify;
}

@media screen and (max-width: 700px) {
  ul.tabs li {
    width: none;
    flex-basis: 0;
    flex-grow: 1;
  }
}

@media screen and (max-width: 450px) {
  ul.tabs li a {
    padding: 15px 0px;
  }

  ul.tabs li a .tab-text {
    display: none;
  }

  .secciones article {
    padding: 20px;
  }
}

.skill-info > h2 {
  color: white;
  text-align: center;
  margin-left: 90px;
  margin-top: 100px;
  width: 200px;
  border: white 1px solid;
  padding: 15px 8px;
  font-family: sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 0.3393732492997199) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

#tab1 {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, 1fr);
}

#tab1 > .info-html {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tab1 > .info-html > img {
  height: 70px;
  width: 70px;
}

#tab1 > .info-html > h2 {
  margin: 0;
  border-bottom: 2px solid rgb(255, 255, 255);
  width: 250px;
  text-align: center;
  color: white;
}

#tab1 > .info-html > p {
  margin-top: 0px;
}

#tab2 {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, 1fr);
}

#tab2 > .info-design > img {
  height: 70px;
  width: 70px;
}

#tab2 > .info-design {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tab2 > .info-design > p {
  margin-top: 0px;
}

#tab2 > .info-design > h2 {
  margin: 0;
  border-bottom: 2px solid rgb(255, 255, 255);
  width: 250px;
  text-align: center;
  color: white;
}

.info-contacto {
  background-color: #045483;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.info-contacto > .cont-main {
  padding: 20px 0px 0px 0px;
  background-color: rgb(141, 227, 248);
  border-radius: 30px;
  height: 70vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  color: #045483;
  margin-top: 10vh;
}

.cont-main > .contactame > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-contacto > .cont-main > .cont-info > .cont-img > a > img {
  height: 50px;
}

.info-contacto > .cont-main > .cont-info > img {
  height: 350px;
}

.cont-main > .contactame > form > p,
.cont-main > .contactame > form > h1 {
  color: #045483;
  width: 600px;
  text-align: justify;
  font-size: 20px;
  margin: 0px;
}

.cont-main > .contactame > form > .usuario > label,
.cont-main > .contactame > form > .mail > label,
.cont-main > .contactame > form > .mensajes > label {
  font-size: 20px;
  font-weight: bold;
}

.cont-main > .contactame > form > .usuario > input,
.cont-main > .contactame > form > .mail > input {
  color: #045483;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  border: none;
  width: 600px;
  height: 30px;
  background-color: rgb(191, 252, 231);
  font-size: 15px;
  padding: 5px;
}

.cont-main > .contactame > form > .mensajes > textarea {
  color: #045483;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: rgb(191, 252, 231);
  font-size: 15px;
  width: 600px;
  height: 150px;
  padding: 5px;
  resize: none;
}
.cont-main > .contactame > form > h1{
  font-size: 25px;
}

.cont-main > .contactame > form input::placeholder,
.cont-main > .contactame > form textarea::placeholder {
  font-size: 14px;
  color: #3e7494;
  padding: 5px;
}
.info-contacto > .cont-main > .cont-info > h2 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.info-contacto > .cont-main > .cont-info > .cont-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cont-main > .contactame > form > .usuario > input:focus,
.cont-main > .contactame > form > .mail > input:focus,
.cont-main > .contactame > form > .mensajes > textarea:focus {
  outline: 2px solid #3e7494;
}
.btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  width: 250px;
}

.btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
